/* Defaults */
html, body, #root, .App {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #2a2a2a;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #fff;
}

/* // area de selecao ---- */
::-moz-selection {
	color: #fff;
	background:  #2a2a2a;
}

::selection {
	color: #fff;
	background:  #2a2a2a;
}

/* // barra de rolagem ------ */
body::-webkit-scrollbar {
	width: 8px;
}
body::-webkit-scrollbar-thumb {
	background-color: #2a2a2a;
}

.tbl {
  display: table;
}
.tbl-row {
  display: table-row;
}
.tbl-cell {
  display: table-cell;
  vertical-align: middle;
}
.v-middle {
  vertical-align: middle;
}
.v-top {
  vertical-align: top;
}
.v-bottom {
  vertical-align: bottom;
}
.section-block {
    padding: 20px 0;
    background: #2a2a2a;
}
.section-block h1 {
  font-size: 24px;
  text-align: center;
}

/* Hexagon */
.hexagon {
  position: relative;
  width: 150px;
  height: 86.60px;
  margin: 43.30px 0;
  background-image: url('../images/me.jpg');
  background-size: auto 173.2051px;
  background-position: center;
}

.hexTop,
.hexBottom {
  position: absolute;
  z-index: 1;
  width: 106.07px;
  height: 106.07px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 21.97px;
}

/*counter transform the bg image on the caps*/

.hexTop:after,
.hexBottom:after {
  content: "";
  position: absolute;
  width: 150.0000px;
  height: 86.60254037844388px;
  -webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-43.3013px);
  -ms-transform: rotate(45deg) scaleY(1.7321) translateY(-43.3013px);
  transform: rotate(45deg) scaleY(1.7321) translateY(-43.3013px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}

.hexTop {
  top: -53.0330px;
}

.hexTop:after {
  background-position: center top;
}

.hexBottom {
  bottom: -53.0330px;
}

.hexBottom:after {
  background-position: center bottom;
}

.hexagon:after {
  content: "";
  position: absolute;
  top: 0.0000px;
  left: 0;
  width: 150.0000px;
  height: 86.6025px;
  z-index: 2;
  background: inherit;
}

/* Header */
#header {
  position: absolute;
  width: 100%;
  z-index: 1;
  padding: 20px 0;
  /* background: #000 */
}

#header .logo {
  display: block;
  margin-top: 4px;
}

#header .logo a {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  display: block;
}

#header .logo a:hover {
  text-decoration: none;
  color: rgb(147, 106, 195);
}

.mobile {
  text-align: right;
}

.mobile button.menu-icon {
  border: none;
  background: none;
  outline: none;
}

.mobile button.menu-icon i  {
  font-size: 24px;
  color: #fff;
}

#header ul.menu {
  width: 100%;
  text-align: right;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#header ul.menu li {
  display: inline-block;
  padding: 4px 20px;
}
#header ul.menu li:last-child {
  padding-right: 0;
}

#header ul.menu li a {
  color: #fff;
}
#header ul.menu li a:hover {
  text-decoration: none;
  color: rgb(147, 106, 195)
}

/* Home */
#home, #inspirations, #tecnologies, #projects {
  height: 100%;
  background: linear-gradient(215deg, rgb(19, 19, 19) 0%, rgb(76, 75, 75) 70%, rgb(103, 103, 103) 100%);
}

#home .tbl {
  height: 100%;
  margin: 0 auto;
}
.wrap-hexagon {
  display: block;
  width: 150px;
  margin: 0 auto;
}

.curly {
  display: block;
  font-size: 100px;
  color: rgb(147, 106, 195);
  padding: 0 15px;
  font-weight: 300;
  margin-bottom: 24px;
}

.me-title {
  font-weight: 300;
  color: #ececec;
  margin: 0;
  margin-top: 20px;
  font-size: 21px;
}
.me-blockquote {
  margin-top: 15px;
  border-left: none;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  line-height: 3px;
}

.me-blockquote p {
  color: #dedede;
  font-size: 14px;
}
.me-blockquote footer {
  color: #dedede;
  font-size: 12px; 
}

/* Inspirations */

#inspirations {
 background: #2a2a2a;
 position: relative;
}

.people {
  position: relative;
  height: 100%;
}

.inspiration {
    padding: 5px 15px 40px 15px;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
}

.person {
  position: relative;
  width: 33.3%;
  display: inline-block;
  text-align: center;
  line-height: 14px;
  top: 0 !important;
  left: 0 !important;
}

.person .thumb {
  width: 60px;
  height: 60px;
  background: #000 center center no-repeat;
  background-size: cover;
  border-radius: 50%;
  margin: 0 auto;
}
/* Bug Fix */
.person .thumb.daniel-zini {
  background-image: url('../images/inspirations/daniel_zini.jpg');
}
.person .thumb.clara-brunetti {
  background-image: url('../images/inspirations/clara_brunetti.jpg');
}
.person .thumb.bruno-adamo {
  background-image: url('../images/inspirations/bruno_adamo.jpg');
}
.person .thumb.joao-gabriel {
  background-image: url('../images/inspirations/joao_gabriel.jpg');
}
.person .thumb.carolina-carretto {
  background-image: url('../images/inspirations/carol_carreto.jpg');
}
.person .thumb.tulio-faria {
  background-image: url('../images/inspirations/tulio_faria.jpg');
}
.person .thumb.ana-vegro {
  background-image: url('../images/inspirations/ana_vegro.jpg');
}
.person .thumb.andre-vastella {
  background-image: url('../images/inspirations/andre_vegro.jpg');
}
.person .thumb.diego-fernandes {
  background-image: url('../images/inspirations/diego_fernandes.jpg');
}
.person .thumb.eric-thomas {
  background-image: url('../images/inspirations/eric_thomas.jpg');
}
.person .thumb.raony-condini {
  background-image: url('../images/inspirations/raony_condini.jpg');
}
.person .thumb.renato-nato {
  background-image: url('../images/inspirations/renato_nato.jpg');
}
.person .thumb.sergio-furgeri {
  background-image: url('../images/inspirations/sergio_furgeri.jpg');
}
.person .thumb.michel-munhoz {
  background-image: url('../images/inspirations/michel_munhoz.jpg');
}
.person .thumb.lilian-simao {
  background-image: url('../images/inspirations/lilian_simao.jpg');
}
.person .thumb.andre-guimaraes {
  background-image: url('../images/inspirations/andre_guimaraes.jpg');
}
.person .thumb.fernando-moledo {
  background-image: url('../images/inspirations/fernando_moledo.jpg');
}
.person .thumb.adileine-ferraz {
  background-image: url('../images/inspirations/adileine_ferraz.jpg');
}
.person .thumb.me {
  background-image: url('../images/me.jpg');
}

.person .mask {
  position: absolute;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .7);
  transition: all .3s ease-in-out;
  border-radius: 50%;
  width: 60px;
  margin: 0 auto;
}
.person .mask .info {
  height: 100%;
  width: 100%;
}
.person:hover {
  transform: scale(1.2);
  z-index: 2;
}
.person:hover .mask {
 opacity: 1;
}
.person strong {
  display: block;
  font-size: 12px;
  margin-top: 0;
  font-weight: 700;
  color:rgb(239, 239, 239);
  cursor: default;
}
.person small {
  display: block;
  margin-top: 5px;
  font-size: 10px;
  line-height: 12px;
  font-weight: 300;
  color:rgb(171, 171, 171);
  cursor: default;
}

/* Projects */
#projects {
  background: #3e3e3e;
  /* background: linear-gradient(215deg, rgb(70, 25, 251) 0%, rgb(156, 81, 245) 70%, rgb(184, 142, 231) 100%); */
}

/* Tecnologies */
#tecnologies {
  background: #565656;
  /* background: linear-gradient(215deg,  0%, rgb(76, 75, 75) 70%,  100%); */
}

@keyframes balance {
  from { 
    top: 50%; 
    left: 50%; 
    margin-top: -50px;
    margin-left: -50px;
  }
}

.lines {
  position: absolute;
  height: 100%;
  width: 100%;
  transition: all .3s ease-in-out;
}
.lines svg {
  position: absolute;
  height: 100%;
  width: 100%;
}
